.card-collection {
  position: relative;
  /* margin-bottom: 4rem; */
  background: #f5f6f8;
  padding: 2.4rem 0;
}
.box-card-collection {
  display: flex;
  gap: 2.4rem;
}

.card-text {
  position: relative;
}
.card-collection__content {
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: calc(20 / 16);
}
.card-collection__media img {
  border-radius: 5px;
  object-fit: cover;
}
.card-collection__content a {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .card-collection__media {
    height: 18rem;
  }
  .card-collection__media img {
    height: 100%;
    object-fit: cover;
  }
  .card-collection {
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .box-card-collection {
    flex-direction: column;
  }
  .card-collection {
    padding-bottom: 2.4rem;
  }
}
